*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  font-family: inherit;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style: none;
}

body {
  font-family: 'Spartan', sans-serif;
  font-size: 15px;
  color: #242b37;
}

.-h1 {
  font-size: 32px;
  font-weight: 300;
  line-height: 40px;
}

.-h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
}

.-h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
}

.paragraph {
  line-height: 25px;
}

.-white {
  color: #FFFFFF;
}

.-black {
  color: #242b37;
}

*:link,
*:visited,
*:hover,
*:active {
  text-decoration: none;
}

.a-btnCta {
  padding: 25px 54px;
  display: inline-block;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  letter-spacing: 2px;
}

.btn-transparent {
  border: 1px solid #FFFFFF;
  background-color: transparent;
}

.btn-transparent:link, .btn-transparent:visited {
  color: #FFFFFF;
}

.btn-transparent:hover, .btn-transparent:active {
  background-color: #FFFFFF;
  color: #111111;
}

.btn-black {
  border: 1px solid #111111;
  background-color: #111111;
}

.btn-black:link, .btn-black:visited {
  color: #FFFFFF;
}

.btn-black:hover, .btn-black:active {
  background-color: #FFFFFF;
  color: #111111;
}

.o-events {
  padding-top: 81px;
}

.o-events .m-events__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.o-events .m-events__nav {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  margin-top: 40px;
  margin-bottom: 18px;
  font-size: 14px;
  line-height: 14px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgba(76, 76, 76, 0.5);
}

.o-events .m-events__nav .m-events__item {
  padding: 11.5px 0;
  cursor: pointer;
}

.o-events .m-events__nav .m-events__item::after {
  content: '';
  display: block;
  height: 1px;
  width: 48px;
  margin: 5px auto 0 auto;
  background-color: transparent;
}

.o-events .m-events__nav .-active {
  color: #4c4c4c;
}

.o-events .m-events__nav .-active::after {
  content: '';
  display: block;
  height: 1px;
  width: 48px;
  margin: 5px auto 0 auto;
  background-color: #9e7f66;
}

.o-events .paragraph {
  margin-top: 15px;
}

.o-features .m-feature:first-child {
  margin-top: -73px;
}

.o-features .m-feature__imgBox img {
  -webkit-box-shadow: 0px 21px 63px 0px rgba(112, 112, 112, 0.8);
          box-shadow: 0px 21px 63px 0px rgba(112, 112, 112, 0.8);
}

.o-features .-h2 {
  margin-top: 22px;
  margin-bottom: 14px;
}

.o-features .-h2::before {
  content: url(../../images/patterns/pattern-divide.svg);
  display: block;
  width: 100%;
  height: 65px;
}

.o-features .paragraph {
  margin-bottom: 80px;
}

.o-footer {
  background-color: #111111;
}

.o-header {
  background-color: #111111;
  background-image: url(../../images/homepage/hero-bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  padding-top: 232px;
  padding-bottom: 152px;
}

.o-header__logo {
  width: 25%;
}

.o-header .-h1 {
  margin-top: 31px;
  margin-bottom: 23px;
}

.o-header .paragraph {
  margin-bottom: 31px;
  margin-left: -1%;
  margin-right: -1%;
}

.o-highlights {
  background-color: #111111;
  padding-top: 28px;
  padding-bottom: 49px;
}

.o-highlights .-h2 {
  margin-top: 22px;
  margin-bottom: 14px;
}

.o-highlights .-h2::before {
  content: url(../../images/patterns/pattern-divide.svg);
  display: block;
  width: 100%;
  height: 65px;
}

.o-highlights .-h3 {
  margin-top: 29px;
  margin-bottom: 4px;
}

.o-highlights .paragraph {
  margin-bottom: 65px;
}

.o-highlights .-small {
  font-size: 15px;
  line-height: 28px;
  width: 90%;
  margin: 0 auto 24px auto;
}

.o-highlights .m-highlights__dish:not(:last-child)::after {
  content: '';
  display: block;
  width: 87.2vw;
  height: 1px;
  background-color: #242b37;
  margin-top: 26px;
  margin-bottom: 24px;
}

body > * {
  padding-left: 6.4%;
  padding-right: 6.4%;
  text-align: center;
}

img {
  max-width: 87.2vw;
}
/*# sourceMappingURL=main.css.map */