*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  font-family: inherit;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style: none;
}

body {
  font-family: 'Spartan', sans-serif;
  font-size: 15px;
  color: #242b37;
}

@media only screen and (min-width: 48em) {
  body {
    font-size: 18px;
  }
}

.-h1 {
  font-size: 32px;
  font-weight: 300;
  line-height: 40px;
}

@media only screen and (min-width: 48em) {
  .-h1 {
    font-size: 48px;
    line-height: 64px;
  }
}

@media only screen and (min-width: 80em) {
  .-h1 {
    font-size: 64px;
    line-height: 72px;
  }
}

.-h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
}

@media only screen and (min-width: 48em) {
  .-h2 {
    font-size: 40px;
    line-height: 56px;
  }
}

.-h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
}

.paragraph {
  line-height: 25px;
}

@media only screen and (min-width: 48em) {
  .paragraph {
    line-height: 30px;
  }
}

.-white {
  color: #FFFFFF;
}

.-black {
  color: #242b37;
}

*:link,
*:visited,
*:hover,
*:active {
  text-decoration: none;
}

.a-btnCta {
  padding: 25px 54px;
  display: inline-block;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  letter-spacing: 2px;
  position: relative;
  overflow: hidden;
}

.a-btnCta::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.3);
  width: 45px;
  height: 100%;
  -webkit-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out;
  -webkit-transform: skewX(-40deg) translateX(-70px);
          transform: skewX(-40deg) translateX(-70px);
}

.-shineAnimation .a-btnCta::before {
  -webkit-transform: skewX(-40deg) translateX(300px);
          transform: skewX(-40deg) translateX(300px);
}

.-btnTransparent {
  border: 1px solid #FFFFFF;
  background-color: transparent;
}

.-btnTransparent:link, .-btnTransparent:visited {
  color: #FFFFFF;
}

.-btnTransparent:hover, .-btnTransparent:active {
  background-color: #FFFFFF;
  color: #111111;
}

.-btnBlack {
  border: 1px solid #111111;
  background-color: #111111;
}

.-btnBlack:link, .-btnBlack:visited {
  color: #FFFFFF;
}

.-btnBlack:hover, .-btnBlack:active {
  background-color: #FFFFFF;
  color: #111111;
}

.a-btnSubmit {
  padding: 25px 0;
  width: 100%;
  display: inline-block;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  letter-spacing: 2px;
  color: #FFFFFF;
  cursor: pointer;
  border: 1px solid #111111;
  background-color: #111111;
  margin-top: 3px;
}

.a-btnSubmit:hover, .a-btnSubmit:active {
  background-color: #FFFFFF;
  color: #111111;
  outline: none;
}

.o-booking {
  background-color: #111111;
  background-image: url(./../images/booking/hero-bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  padding-top: 56px;
  padding-bottom: 228px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 48em), only screen and (min-resolution: 192dpi) and (max-width: 48em) {
  .o-booking {
    background-image: url(./../images/booking/hero-bg-mobile@2x.jpg);
  }
}

@media only screen and (min-width: 48em) {
  .o-booking {
    background-image: url(./../images/booking/hero-bg-tablet.jpg);
    background-size: cover;
    padding-top: 56px;
    padding-bottom: 302px;
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 48em), only screen and (min-resolution: 192dpi) and (min-width: 48em) {
  .o-booking {
    background-image: url(./../images/booking/hero-bg-tablet@2x.jpg);
  }
}

@media only screen and (min-width: 48em) {
  .o-booking__logoBox {
    text-align: left;
  }
}

.o-booking__logoBox__logo {
  width: 82px;
}

@media only screen and (min-width: 48em) {
  .o-booking__logoBox__logo {
    width: 103px;
  }
}

.o-booking .-h1 {
  margin-top: 38px;
  margin-bottom: 16px;
}

@media only screen and (min-width: 48em) {
  .o-booking .-h1 {
    margin-top: 60px;
  }
}

.o-booking .paragraph {
  margin-bottom: 23px;
  margin-left: -1%;
  margin-right: -1%;
}

@media only screen and (min-width: 48em) {
  .o-booking .paragraph {
    padding: 0 10%;
    margin-bottom: -32px;
  }
}

@media only screen and (min-width: 48em) {
  .o-booking .a-btnCta {
    display: none;
  }
}

.o-bookingForm {
  padding-top: 56px;
  padding-bottom: 84px;
}

@media only screen and (min-width: 48em) {
  .o-bookingForm {
    margin-top: -20px;
    padding: 0 15% 84px 15%;
  }
}

.o-bookingForm .form {
  -webkit-box-shadow: 0px 49px 79px 0px rgba(112, 112, 112, 0.8);
          box-shadow: 0px 49px 79px 0px rgba(112, 112, 112, 0.8);
  padding: 27px 10% 32px 10%;
  margin-top: -194px;
  background-color: #FFFFFF;
  font-size: 18px;
}

@media only screen and (min-width: 48em) {
  .o-bookingForm .form {
    margin-left: auto;
    margin-right: auto;
    margin-top: -230px;
    padding: 27px 54px 32px 54px;
    width: 538px;
  }
}

.o-bookingForm .form__group {
  position: relative;
}

.o-bookingForm .form__group small {
  color: #B54949;
  font-size: 10px;
  position: absolute;
  bottom: -18px;
  left: 0;
  visibility: hidden;
}

.o-bookingForm .form__group.error input::-webkit-input-placeholder {
  color: #B54949;
}

.o-bookingForm .form__group.error input:-ms-input-placeholder {
  color: #B54949;
}

.o-bookingForm .form__group.error input::-ms-input-placeholder {
  color: #B54949;
}

.o-bookingForm .form__group.error input::placeholder {
  color: #B54949;
}

.o-bookingForm .form__group.error small {
  visibility: visible;
}

.o-bookingForm .form__group:not(:last-child) {
  margin-bottom: 28px;
}

.o-bookingForm .form__group-date {
  margin-top: 37px;
}

.o-bookingForm .form__group-time {
  margin-top: 42px;
}

@media only screen and (min-width: 48em) {
  .o-bookingForm .form__group-date, .o-bookingForm .form__group-time {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .o-bookingForm .form__group-date label, .o-bookingForm .form__group-time label {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    margin-right: auto;
  }
}

.o-bookingForm .form .errorColor {
  border-bottom: 1px solid #B54949;
}

.o-bookingForm .form input, .o-bookingForm .form select {
  height: 51px;
  border: none;
  border-bottom: 1px solid rgba(17, 17, 17, 0.16);
  font-size: inherit;
  padding: 10px;
}

.o-bookingForm .form input:focus, .o-bookingForm .form select:focus {
  outline: none;
  border-bottom: 1px solid #111111;
}

.o-bookingForm .form #name {
  width: 100%;
}

.o-bookingForm .form #email {
  width: 100%;
}

.o-bookingForm .form input[type=submit] {
  background-color: #111111;
  border: 1px solid #111111;
  color: #FFFFFF;
  line-height: 8px;
  font-size: 14px;
  text-transform: uppercase;
  padding: 31px 0;
  width: 100%;
  cursor: pointer;
}

.o-bookingForm .form input[type=submit]:link, .o-bookingForm .form input[type=submit]:visited {
  color: #FFFFFF;
}

.o-bookingForm .form input[type=submit]:hover, .o-bookingForm .form input[type=submit]:active {
  background-color: #FFFFFF;
  color: #111111;
}

.o-bookingForm .form label {
  display: block;
  text-align: left;
}

@media only screen and (min-width: 48em) {
  .o-bookingForm .form__dateBox, .o-bookingForm .form__timeBox {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 68%;
            flex: 0 0 68%;
  }
}

.o-bookingForm .form__dateBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.o-bookingForm .form__dateBox input:not(:last-child) {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 27.76%;
          flex: 0 0 27.76%;
}

.o-bookingForm .form__dateBox input:last-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.46%;
          flex: 0 0 33.46%;
}

.o-bookingForm .form__timeBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.o-bookingForm .form__timeBox input {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 27.76%;
          flex: 0 0 27.76%;
}

.o-bookingForm .form__timeBox .m-daytime__box {
  border-bottom: 1px solid rgba(17, 17, 17, 0.16);
  padding: 14px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.46%;
          flex: 0 0 33.46%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.o-bookingForm .form__timeBox .a-arrow {
  padding-left: 10px;
  cursor: pointer;
}

.o-bookingForm .form__timeBox .-mirror {
  -webkit-transform: scaleY(-1);
          transform: scaleY(-1);
}

.o-bookingForm .form__timeBox .m-daytime__options {
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 1px 40px 0px rgba(112, 112, 112, 0.4);
          box-shadow: 0px 1px 40px 0px rgba(112, 112, 112, 0.4);
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
  z-index: 10;
  position: absolute;
  bottom: -100px;
  right: 0;
  padding: 20px 25px 20px 15px;
}

.o-bookingForm .form__timeBox .a-tick {
  margin-right: 10px;
}

.o-bookingForm .form__timeBox .m-daytime__options-AM {
  margin-bottom: 15px;
  cursor: pointer;
}

.o-bookingForm .form__timeBox .m-daytime__options-PM {
  cursor: pointer;
}

.o-bookingForm .form__timeBox .-hidden {
  opacity: 0;
  z-index: -10;
}

.o-bookingForm .form .form__people {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 42px;
  font-weight: 700;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(17, 17, 17, 0.16);
}

.o-bookingForm .form .form__people .form__people-middle {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
}

.o-bookingForm .form .form__people .plusminus {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  color: #9e7f66;
  cursor: pointer;
}

.o-bookingForm .form .form__people .plusminus:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.o-bookingForm .form .form__people .plusminus:active {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.o-bookingForm .form .form__people .-inactive {
  color: rgba(158, 127, 102, 0.1);
}

.o-bookingForm .-plusminusActive {
  border-bottom: 1px solid #111111 !important;
}

.o-events {
  padding-top: 81px;
  padding-bottom: 124px;
}

@media only screen and (min-width: 48em) {
  .o-events {
    padding-top: 120px;
    padding-bottom: 119px;
    padding-left: 5%;
    padding-right: 5%;
    background-image: url(./../../images/patterns/pattern-curve-top-right.svg);
    background-repeat: no-repeat;
    background-position: top left -517px;
  }
}

.o-events .m-events__imgBox {
  position: relative;
  margin-right: auto;
  margin-left: auto;
}

@media only screen and (min-width: 48em) {
  .o-events .m-events__imgBox::before {
    content: url(./../../images/patterns/pattern-lines.svg);
    display: block;
    position: absolute;
    height: 76px;
    width: 160px;
    top: -38px;
    left: 0;
  }
}

@media only screen and (min-width: 55em) {
  .o-events .m-events__imgBox {
    width: 655px;
  }
}

.o-events .m-events__imgBox img {
  -webkit-box-shadow: 0px 49px 79px 0px rgba(112, 112, 112, 0.8);
          box-shadow: 0px 49px 79px 0px rgba(112, 112, 112, 0.8);
  display: none;
  margin-right: auto;
  margin-left: auto;
}

@media only screen and (min-width: 48em) {
  .o-events .m-events__imgBox img {
    width: 83%;
  }
}

.o-events .m-events__imgBox .-visible {
  display: block;
}

.o-events .m-events__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.o-events .m-events__nav {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  margin-top: 45px;
  margin-bottom: 18px;
  font-size: 14px;
  line-height: 14px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgba(76, 76, 76, 0.5);
}

@media only screen and (min-width: 48em) {
  .o-events .m-events__nav {
    margin-top: 52px;
    margin-bottom: 31px;
    width: 95%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media only screen and (min-width: 55em) {
  .o-events .m-events__nav {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.o-events .m-events__nav .m-events__item {
  padding: 11.5px 0;
  cursor: pointer;
}

.o-events .m-events__nav .m-events__item::after {
  content: '';
  display: block;
  height: 1px;
  width: 48px;
  margin: 5px auto 0 auto;
  background-color: transparent;
}

@media only screen and (min-width: 48em) {
  .o-events .m-events__nav .m-events__item::after {
    margin: 15px auto 0 auto;
  }
}

.o-events .m-events__nav .-active {
  color: #4c4c4c;
}

.o-events .m-events__nav .-active::after {
  content: '';
  display: block;
  height: 1px;
  width: 48px;
  margin: 5px auto 0 auto;
  background-color: #9e7f66;
}

@media only screen and (min-width: 48em) {
  .o-events .m-events__nav .-active::after {
    margin: 15px auto 0 auto;
  }
}

.o-events .paragraph {
  margin-top: 15px;
  margin-bottom: 31px;
}

@media only screen and (min-width: 48em) {
  .o-events .paragraph {
    margin: 15px auto 31px auto;
    width: 67%;
  }
}

@media only screen and (min-width: 48em) {
  .o-features {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 40px;
    background-image: url(./../../images/patterns/pattern-curve-top-left.svg), url(./../../images/patterns/pattern-curve-top-left.svg);
    background-repeat: no-repeat;
    background-position: top 197px left -517px, bottom right -511px;
  }
}

@media only screen and (min-width: 80em) {
  .o-features {
    padding-right: 11.6%;
    padding-left: 11.6%;
  }
}

@media only screen and (min-width: 80em) {
  .o-features .m-feature {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    margin-top: 116px;
  }
}

.o-features .m-feature__imgBox {
  position: relative;
}

@media only screen and (min-width: 55em) {
  .o-features .m-feature__imgBox {
    width: 655px;
    margin-right: auto;
    margin-left: auto;
  }
}

.o-features .m-feature__imgBox img {
  -webkit-box-shadow: 0px 49px 79px 0px rgba(112, 112, 112, 0.8);
          box-shadow: 0px 49px 79px 0px rgba(112, 112, 112, 0.8);
}

.o-features .m-feature__textBox .-h2 {
  margin-top: 22px;
  margin-bottom: 14px;
}

@media only screen and (min-width: 48em) {
  .o-features .m-feature__textBox .-h2 {
    width: 50%;
    margin: 27px auto 14px auto;
  }
}

@media only screen and (min-width: 80em) {
  .o-features .m-feature__textBox .-h2 {
    margin: 171px 0 16px 0;
    width: 85%;
  }
}

.o-features .m-feature__textBox .-h2::before {
  content: url(../../images/patterns/pattern-divide.svg);
  display: block;
  width: 100%;
  height: 65px;
}

@media only screen and (min-width: 80em) {
  .o-features .m-feature__textBox .-h2::before {
    height: 87px;
  }
}

.o-features .m-feature__textBox .paragraph {
  margin-bottom: 80px;
}

@media only screen and (min-width: 48em) {
  .o-features .m-feature__textBox .paragraph {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (min-width: 80em) {
  .o-features .m-feature__textBox .paragraph {
    margin: 0;
    width: 80%;
  }
}

@media only screen and (min-width: 80em) {
  .o-features .m-feature__textBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (min-width: 48em) {
  .o-features .m-feature:last-child .m-feature__imgBox::after {
    content: url("./../../images/patterns/pattern-lines.svg");
    display: block;
    position: absolute;
    right: 40px;
    bottom: 63px;
    width: 160px;
    height: 76px;
  }
}

@media only screen and (min-width: 48em) and (min-width: 55em) {
  .o-features .m-feature:last-child .m-feature__imgBox::after {
    right: -25px;
  }
}

@media only screen and (min-width: 48em) and (min-width: 80em) {
  .o-features .m-feature:last-child .m-feature__imgBox::after {
    right: -116px;
    top: 282px;
  }
}

.o-features .m-feature:first-child {
  margin-top: -73px;
}

@media only screen and (min-width: 48em) {
  .o-features .m-feature:first-child {
    margin-top: -97px;
  }
  .o-features .m-feature:first-child .paragraph:first-of-type {
    margin: 0 auto 120px auto;
  }
}

@media only screen and (min-width: 80em) {
  .o-features .m-feature:first-child {
    margin-top: -72px;
  }
  .o-features .m-feature:first-child .m-feature__textBox {
    padding-left: 122px;
  }
  .o-features .m-feature:first-child .m-feature__textBox .-h2 {
    margin: 217px 0 16px 0;
  }
  .o-features .m-feature:first-child .m-feature__textBox .paragraph:first-of-type {
    margin: 0;
    width: 100%;
  }
  .o-features .m-feature:first-child .m-feature__imgBox {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.o-footer {
  background-color: #111111;
  padding-top: 81px;
  padding-bottom: 81px;
  font-size: 14px;
  line-height: 28px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

@media only screen and (min-width: 48em) {
  .o-footer {
    padding: 64px 5%;
    text-align: left;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (min-content)[2];
        grid-template-rows: repeat(2, -webkit-min-content);
        grid-template-rows: repeat(2, min-content);
    -ms-grid-columns: 1fr 2fr;
        grid-template-columns: 1fr 2fr;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    row-gap: 37px;
  }
}

.o-footer .m-footer__address {
  margin-top: 31px;
  margin-bottom: 35px;
}

@media only screen and (min-width: 48em) {
  .o-footer .m-footer__address {
    margin: 0;
  }
}

@media only screen and (min-width: 48em) {
  .o-footer .m-footer__openTimes {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
}

.o-header {
  background-color: #111111;
  background-image: url(./../images/homepage/hero-bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  padding-top: 232px;
  padding-bottom: 147px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 48em), only screen and (min-resolution: 192dpi) and (max-width: 48em) {
  .o-header {
    background-image: url(./../images/homepage/hero-bg-mobile@2x.jpg);
  }
}

@media only screen and (min-width: 48em) {
  .o-header {
    background-image: url(./../images/homepage/hero-bg-tablet.jpg);
    padding-top: 48.7%;
    padding-bottom: 210px;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 48em), only screen and (min-resolution: 192dpi) and (min-width: 48em) {
  .o-header {
    background-image: url(./../images/homepage/hero-bg-tablet@2x.jpg);
  }
}

@media only screen and (min-width: 80em) {
  .o-header {
    background-image: url(./../images/homepage/hero-bg-desktop.jpg);
    padding-top: 65px;
    padding-bottom: 192px;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 80em), only screen and (min-resolution: 192dpi) and (min-width: 80em) {
  .o-header {
    background-image: url(./../images/homepage/hero-bg-desktop@2x.jpg);
  }
}

.o-header__logo {
  width: 82px;
}

@media only screen and (min-width: 48em) {
  .o-header__logo {
    width: 103px;
  }
}

.o-header .-h1 {
  margin-top: 31px;
  margin-bottom: 23px;
}

@media only screen and (min-width: 80em) {
  .o-header .-h1 {
    margin-top: 152px;
    width: 520px;
    letter-spacing: -1px;
  }
}

.o-header .paragraph {
  margin-bottom: 31px;
  margin-left: -1%;
  margin-right: -1%;
}

@media only screen and (min-width: 48em) {
  .o-header .paragraph {
    margin-bottom: 21px;
  }
}

@media only screen and (min-width: 80em) {
  .o-header .paragraph {
    width: 40%;
    margin-left: 0;
    margin-bottom: 39px;
  }
}

.o-highlights {
  background-color: #111111;
  padding-top: 28px;
  padding-bottom: 49px;
}

@media only screen and (min-width: 48em) {
  .o-highlights {
    padding-left: 12.5%;
    padding-right: 12.5%;
    padding-bottom: 46px;
  }
}

@media only screen and (min-width: 80em) {
  .o-highlights {
    margin-top: -125px;
    padding-top: 255px;
    padding-bottom: 68px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.o-highlights .-h2 {
  margin-top: 22px;
  margin-bottom: 14px;
  position: relative;
}

.o-highlights .-h2::before {
  content: url(../../images/patterns/pattern-divide.svg);
  display: block;
  width: 100%;
  height: 65px;
}

@media only screen and (min-width: 48em) {
  .o-highlights .-h2::before {
    height: 74px;
  }
}

@media only screen and (min-width: 80em) {
  .o-highlights .-h2::before {
    position: absolute;
    top: -87px;
  }
}

@media only screen and (min-width: 48em) {
  .o-highlights .-h2 {
    width: 70%;
    margin: 37px auto 14px auto;
  }
}

@media only screen and (min-width: 80em) {
  .o-highlights .-h2 {
    margin: 0;
    margin-bottom: 20px;
    width: 85%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.o-highlights .-h3 {
  margin-top: 29px;
  margin-bottom: 4px;
}

@media only screen and (min-width: 48em) {
  .o-highlights .-h3 {
    margin-top: 6px;
    margin-bottom: 5px;
  }
}

.o-highlights .paragraph {
  margin-bottom: 56px;
  width: 101%;
  margin: 0 auto 65px auto;
}

@media only screen and (min-width: 48em) {
  .o-highlights .paragraph {
    width: 80%;
    margin: 0 auto 56px auto;
  }
}

@media only screen and (min-width: 80em) {
  .o-highlights .paragraph {
    margin: 0;
    width: 89%;
  }
}

.o-highlights .-small {
  font-size: 15px;
  line-height: 28px;
  width: 90%;
  margin: 0 auto 24px auto;
}

@media only screen and (min-width: 48em) {
  .o-highlights .-small {
    width: 100%;
    margin: 0;
  }
}

@media only screen and (min-width: 80em) {
  .o-highlights .m-highlights__textBox {
    margin-left: -15px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}

@media only screen and (min-width: 48em) {
  .o-highlights .m-highlights__dishes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media only screen and (min-width: 80em) {
  .o-highlights .m-highlights__dishes {
    margin-left: 30px;
  }
}

.o-highlights .m-highlights__dish {
  text-align: center;
  margin-bottom: 24px;
}

.o-highlights .m-highlights__dish:not(:last-child)::after {
  content: '';
  display: block;
  width: 87.2vw;
  height: 1px;
  background-color: #242b37;
  margin-top: 26px;
  margin-bottom: 24px;
}

@media only screen and (min-width: 48em) {
  .o-highlights .m-highlights__dish {
    text-align: left;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 160px 383px;
        grid-template-columns: 160px 383px;
    -webkit-column-gap: 33px;
            column-gap: 33px;
    margin-bottom: 44px;
    position: relative;
  }
  .o-highlights .m-highlights__dish:not(:last-child)::after {
    position: absolute;
    display: block;
    width: 100%;
    bottom: -20px;
    margin: 0;
  }
  .o-highlights .m-highlights__dish .m-highlights__imgBox {
    width: 100%;
    text-align: left;
    position: relative;
  }
  .o-highlights .m-highlights__dish .m-highlights__imgBox::after {
    content: '';
    display: block;
    position: absolute;
    height: 1px;
    width: 26%;
    background-color: #9e7f66;
    top: 17px;
    left: 128px;
  }
  .o-highlights .m-highlights__dish .m-highlights__imgBox img {
    width: 128px;
  }
}

@media only screen and (min-width: 80em) {
  .o-highlights .m-highlights__dish {
    -webkit-column-gap: 44px;
            column-gap: 44px;
    -ms-grid-columns: 160px 340px;
        grid-template-columns: 160px 340px;
  }
}

.o-reservation {
  padding-top: 82px;
  padding-bottom: 73px;
  background-image: url(./../images/homepage/ready-bg-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 48em), only screen and (min-resolution: 192dpi) and (max-width: 48em) {
  .o-reservation {
    background-image: url(./../images/homepage/ready-bg-mobile@2x.jpg);
  }
}

@media only screen and (min-width: 48em) {
  .o-reservation {
    background-image: url(./../images/homepage/ready-bg-tablet.jpg);
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 48em), only screen and (min-resolution: 192dpi) and (min-width: 48em) {
  .o-reservation {
    background-image: url(./../images/homepage/ready-bg-tablet@2x.jpg);
  }
}

@media only screen and (min-width: 48em) {
  .o-reservation {
    padding: 60px 7.5%;
  }
}

.o-reservation .-h2 {
  margin-top: 3px;
  margin-bottom: 20px;
}

body > * {
  padding-left: 6.4%;
  padding-right: 6.4%;
  text-align: center;
}

@media only screen and (min-width: 48em) {
  body > * {
    padding-left: 16%;
    padding-right: 16%;
  }
}

@media only screen and (min-width: 80em) {
  body > * {
    text-align: left;
    padding-left: 11.6%;
    padding-right: 11.6%;
  }
}

@media only screen and (min-width: 90em) {
  body > * {
    text-align: left;
    padding-left: 11.6%;
    padding-right: 11.6%;
  }
}

.img {
  max-width: 87.2%;
}
/*# sourceMappingURL=main.css.map */