///////// COLORS
$color-dark-gray: #111111;
$color-gray: #242b37;
$color-gray-light: #5c6779;
$color-brown: #9e7f66;
$color-dark-blue:#17192b;
$color-white: #FFFFFF;

///////// MEASURES
$padding-mobile: 6.4%; //24px
