///////// COLORS
$color-gray-dark: #111111;
$color-gray: #242b37;
$color-gray-light: #5c6779;
$color-brown-gray: #4C4C4C;
$color-brown: #9e7f66;
$color-dark-blue:#17192b;
$color-white: #FFFFFF;

///////// MEASURES
$padding-mobile: 6.4%; //24px
$img-width-mobile: 87.2vw; // 100vw - padding mobile *2

///////// BOX SHADOW
$blured-shadow: 0px 49px 79px 0px rgba(112,112,112,0.8);
