.o-events {
    padding-top: 81px;
    padding-bottom: 124px;

    @media only screen and (min-width: 48em) {
        padding-top: 120px;
        padding-bottom: 119px;
        padding-left: 5%;
        padding-right: 5%;

        background-image: url(./../../images/patterns/pattern-curve-top-right.svg);
        background-repeat: no-repeat;
        background-position: top left -517px;
    }

    .m-events__imgBox {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

        @media only screen and (min-width: 48em) {
            &::before {
                content: url(./../../images/patterns/pattern-lines.svg);
                display: block;
                position: absolute;
                height: 76px;
                width: 160px;
                top: -38px;
                left: 0;
            }
        }

        @media only screen and (min-width: 55em) {
            width: 655px;
            margin-right: auto;
            margin-left: auto;
        }

        img {
            box-shadow: $blured-shadow;
            height: 0;
            opacity: 0;
            @media only screen and (min-width: 48em) {
                width: 83%;
                
            }
        }

        .-visible {
            visibility: visible;
            height: auto;
            opacity: 1;        
        }
    }
 
    .m-events__box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .m-events__nav {
        order: -1;
        margin-top: 40px;
        margin-bottom: 18px;

        font-size: 14px;
        line-height: 14px;
        font-weight: 600;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: rgba($color-brown-gray, 0.5);

        @media only screen and (min-width: 48em) {
            margin-top: 52px;
            margin-bottom: 31px;
            width: 95%;
            display: flex;
            justify-content: space-between;
        }

        @media only screen and (min-width: 55em) {
            justify-content: space-around;
        }

        .m-events__item {
            padding: 11.5px 0;
            cursor: pointer;

            &::after {
                content: '';
                display: block;
                height: 1px;
                width: 48px;
                margin: 5px auto 0 auto;
                background-color: transparent;
            }

            @media only screen and (min-width: 48em) {
                &::after {
                    margin: 15px auto 0 auto;
                }
            }
        }
        
        .-active {
            color: rgba($color-brown-gray, 1);
            &::after {
                content: '';
                display: block;
                height: 1px;
                width: 48px;
                margin: 5px auto 0 auto;
                background-color: $color-brown;
            }
            @media only screen and (min-width: 48em) {
                &::after {
                    margin: 15px auto 0 auto;
                }
            }
        }
    }

    .paragraph {
        margin-top: 15px;
        margin-bottom: 31px;
        @media only screen and (min-width: 48em) {
                margin: 15px auto 31px auto;
                width: 67%;
        }
    }
}