.o-features {

    @media only screen and (min-width: 48em) {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 40px;

        background-image: url(./../../images/patterns/pattern-curve-top-left.svg), url(./../../images/patterns/pattern-curve-top-left.svg);
        background-repeat: no-repeat;
        background-position: top 197px left -517px, bottom right -511px;
    }

    .m-feature {
        &:last-child .m-feature__imgBox {
            @media only screen and (min-width: 48em) {
                &::after {
                    content: url('./../../images/patterns/pattern-lines.svg');
                    display: block;
                    position: absolute;
                    right: 40px;
                    bottom: 63px;
                    width: 160px;
                    height: 76px;
                }
            }
        }
        
        &:first-child {
            margin-top: -73px;
            @media only screen and (min-width: 48em) {
                margin-top: -97px;

                .paragraph {
                    &:first-of-type {
                        margin: 0 auto 120px auto;
                    }
                }
            }
        }

        &__imgBox {
            position: relative;

            img {
                box-shadow: $blured-shadow;
            }
        }
    }

    .-h2 {
        margin-top: 22px;
        margin-bottom: 14px;

        &::before {
            content: url(../../images/patterns/pattern-divide.svg);
            display: block;
            width: 100%;
            height: 65px;
        }

        @media only screen and (min-width: 48em) {
            width: 50%;
            margin: 27px auto 14px auto;
        }
    }

    .paragraph {
        margin-bottom: 80px; //goes perfectly as bottom margin of the section
        
        @media only screen and (min-width: 48em) {
            width: 60%;
            margin-left: auto;
            margin-right: auto;
        }
    }
}