.o-footer {
    background-color: $color-gray-dark;

    padding-top: 81px;
    padding-bottom: 81px;

    font-size: 14px;
    line-height: 28px;
    text-transform: uppercase;
    letter-spacing: 2px;

    @media only screen and (min-width: 48em) {
        padding: 64px 5%;

        text-align: left;

        display: grid;
        grid-template-rows: repeat(2, min-content);
        grid-template-columns: 1fr 2fr;
        align-items: start;
        row-gap: 37px;
    }
    @media only screen and (min-width: 80em) {
        grid-template-columns: 26.5% 33% 41.5%;
        grid-template-rows: min-content;
        grid-auto-flow: dense;
        padding: 79px $padding-desktop;
    }

    .m-footer__address {
        margin-top: 31px;
        margin-bottom: 35px;
        @media only screen and (min-width: 48em) {
            margin: 0;
        }
    }
    .m-footer__openTimes {
        @media only screen and (min-width: 48em) {
            grid-column: 2/3;
        }
        @media only screen and (min-width: 80em) {
            grid-column: 3/4;
        }
    }
}