.o-footer {
    background-color: $color-gray-dark;

    padding-top: 80px;
    padding-bottom: 81px;

    font-size: 14px;
    line-height: 28px;
    text-transform: uppercase;
    letter-spacing: 2px;

    .m-footer__address {
        margin-top: 31px;
        margin-bottom: 35px;
    }
}