.o-header {
    background-color: $color-gray-dark;
    background-image: url(./../images/homepage/hero-bg-mobile.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    padding-top: 232px;
    padding-bottom: 147px;

    @media 
        only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 48em), 
        only screen and (min-resolution: 192dpi) and (max-width: 48em) {
        background-image: url(./../images/homepage/hero-bg-mobile@2x.jpg);
    }

    @media 
        only screen and (min-width: 48em) {
        background-image: url(./../images/homepage/hero-bg-tablet.jpg);
        padding-top: 48.7%;
        padding-bottom: 210px;
    }

    @media 
        only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 48em), 
        only screen and (min-resolution: 192dpi) and (min-width: 48em) {
        background-image: url(./../images/homepage/hero-bg-tablet@2x.jpg);
    }

    @media 
        only screen and (min-width: 80em) {
        background-image: url(./../images/homepage/hero-bg-desktop.jpg);
        padding-top: 65px;
        padding-bottom: 192px;
    }

    @media 
        only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 80em), 
        only screen and (min-resolution: 192dpi) and (min-width: 80em) {
        background-image: url(./../images/homepage/hero-bg-desktop@2x.jpg);
    }

    &__logo {
        width: 82px;

        @media only screen and (min-width: 48em) {
            width: 103px;
        }
    }

    .-h1 {
        margin-top: 31px;
        margin-bottom: 23px;
        @media only screen and (min-width: 80em) {
            margin-top: 152px;
            width: 520px;
            letter-spacing: -1px;
        }
    }

    .paragraph {
        margin-bottom: 31px;
        margin-left: -1%;
        margin-right: -1%;

        @media only screen and (min-width: 48em) {
            margin-bottom: 21px;
        }
        @media only screen and (min-width: 80em) {
            width: 40%;
            margin-left: 0;
            margin-bottom: 39px;
        }
    }
}