.o-reservation {
    padding-top: 82px;
    padding-bottom: 73px;

    background-image: url(./../images/homepage/ready-bg-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    @media 
    only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 48em),
    only screen and (min-resolution: 192dpi) and (max-width: 48em) {
        background-image: url(./../images/homepage/ready-bg-mobile@2x.jpg);
    }

    @media 
    only screen and (min-width: 48em) {
        background-image: url(./../images/homepage/ready-bg-tablet.jpg);
        padding: 60px 7.5%;
    }

    @media 
    only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 48em),
    only screen and (min-resolution: 192dpi) and (min-width: 48em) {
        background-image: url(./../images/homepage/ready-bg-tablet@2x.jpg);
    }

    @media only screen and (min-width: 80em) {
        background-image: url(./../images/homepage/ready-bg-desktop.jpg);
        display: flex;
        justify-content: space-between;
        padding: 91px 11.5% 84px 11.5%;
    }

    @media 
    only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 80em),
    only screen and (min-resolution: 192dpi) and (min-width: 80em) {
        background-image: url(./../images/homepage/ready-bg-desktop@2x.jpg);
    }

    .-h2 {
        margin-top: 3px;
        margin-bottom: 20px;
        @media only screen and (min-width: 80em) {
            margin: 0;
        }
    }
}