.o-reservation {
    padding-top: 82px;
    padding-bottom: 82px;

    background-image: url(./../images/homepage/ready-bg-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    @media 
    only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 48em),
    only screen and (min-resolution: 192dpi) and (max-width: 48em) {
        background-image: url(./../images/homepage/ready-bg-mobile@2x.jpg);
    }

    @media 
    only screen and (min-width: 48em) {
        background-image: url(./../images/homepage/ready-bg-tablet.jpg);
    }

    @media 
    only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 48em),
    only screen and (min-resolution: 192dpi) and (min-width: 48em) {
        background-image: url(./../images/homepage/ready-bg-tablet@2x.jpg);
    }

    @media only screen and (min-width: 48em) {
        padding: 60px 7.5%;
    }

    .-h2 {
        margin-top: 6px;
        margin-bottom: 20px;
    }
}