.o-reservation {
    padding-top: 82px;
    padding-bottom: 82px;

    background-image: url(../../images/homepage/ready-bg-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    .-h2 {
        margin-bottom: 19px;
    }
}