.a-btnCta {
    padding: 25px 54px;
    display: inline-block;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}

.btn-transparent {
    border: 1px solid $color-white;
    background-color: transparent;
    &:link,
    &:visited {
        color: $color-white;
    }

    &:hover,
    &:active {
        background-color: $color-white;
        color: $color-gray-dark;
    }
}

.btn-black {
    border: 1px solid $color-gray-dark;
    background-color: $color-gray-dark;

    &:link,
    &:visited {
        color: $color-white;
    }

    &:hover,
    &:active {
        background-color: $color-white;
        color: $color-gray-dark;;
    }
}