body {
    font-family: 'Spartan', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: $color-gray;
}

.h1 {
    font-size: 32px;
    line-height: 40px;
}

.h2 {

}

.h3 {

}

.paragraph {
    line-height: 25px;
}

.-white {
    color: $color-white;
}

.-black {
    color: $color-gray;
}