body {
    font-family: 'Spartan', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: $color-gray;
}

.h1 {
    font-size: 32px;
    font-weight: 300;
    line-height: 40px;
}

.h2 {
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;

}

.h3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
}

.paragraph {
    line-height: 25px;
}

.-white {
    color: $color-white;
}

.-black {
    color: $color-gray;
}

*:link,
*:visited,
*:hover,
*:active {
    text-decoration: none;
    color: inherit;
}