body > * {
    // instead of wrapper - padding for all the sections
    padding-left: $padding-mobile;
    padding-right: $padding-mobile;
    text-align: center;
}

img {
    max-width: $img-width-mobile;
}