body > * {
    // instead of wrapper - padding for all the sections
    padding-left: $padding-mobile;
    padding-right: $padding-mobile;
    text-align: center;

    @media only screen and (min-width: 48em) {
        padding-left: $padding-tablet;
        padding-right: $padding-tablet;
    }
}

img {
    max-width: $img-width-mobile;
}