body > * {
    // instead of wrapper - padding for all the sections
    padding-left: $padding-mobile;
    padding-right: $padding-mobile;
    text-align: center;

    @media only screen and (min-width: 48em) {
        padding-left: $padding-tablet;
        padding-right: $padding-tablet;
    }

    @media only screen and (min-width: 80em) {
        text-align: left;
        padding-left: $padding-desktop;
        padding-right: $padding-desktop;
    }

    //TO REMOVE OR CHANGE -> JUST TO HAVE A BREAKPOINT IN CHROME WEB DEV TOOLS v
    @media only screen and (min-width: 90em) {
        text-align: left;
        padding-left: $padding-desktop;
        padding-right: $padding-desktop;
    }
    
}

.img {
    max-width: $img-width-mobile;
}